html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-columns: 1fr 1rem;
    grid-template-rows: 5rem 1fr;
    row-gap: 1rem;
    padding: 1rem 0 1rem 1rem;
    margin: 0;
    min-height: 100vh;
}

.header,
#books {
    outline: solid black 2px;
    background-color: rgb(229, 229, 229);
}

.header {
    display: grid;
    grid-template-columns: 12rem 1fr 7rem 7rem;
    align-items: center;
    padding: 1.2rem;
    gap: 1.2rem;
    min-width: 32rem;
}

#new-book,
#remove-all {
    height: 2.5rem;
    border: solid black 2px;
}

#new-book {
    background-color: rgb(193, 239, 255);
    grid-column-start: 3;
}

#remove-all {
    background-color: rgb(255, 172, 172);
    grid-column-start: 4;
}

#new-book:hover {
    background-color: rgb(144, 227, 255);
    cursor: pointer;
}

#remove-all:hover {
    background-color: rgb(255, 136, 136);
    cursor: pointer;
}

#books {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
}